<div class="contents">
    <div class="header-label">
        <h2>{{headerTitle}}</h2>
    </div>

    <div class="header-search">
        <app-header-search></app-header-search>
    </div>

    <div class="banner">
        <div class="header-bell-profile">
            <app-header-bell></app-header-bell>

            <app-header-profile></app-header-profile>
        </div>
        <!-- <div class="dropdown" [ngClass]="{ 'show': isDropdownOpen }">
            <h2>{{ username }}</h2>
            <h5>Administrator</h5>
            <button class="manage-account" (click)="openDialog()">
                <img src="/assets/images/settings.png" alt="Manage Account Icon" class="icon">
                <span>Manage account</span>
            </button>        
        </div> -->
    </div>    
</div>
