.main-container{
    display: grid;
    grid-template-columns: 99px 1fr ;
    width: 744px;
    align-items: center;
    gap: 23px;
}

.photoholder{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.photoholder img{
    width: 99px;
    height: 99px;
    border-radius: 5px;
    padding: 3px;
    background-color: #CBDFFF;
}

.right-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 57px;
    align-self: stretch;
    width: 100%;
}

.user-name{
    display: flex;
    align-items: center;
    color: #464646;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

img{
width: 24px;
height: 24px;
}

.user-role, .user-email, .user-contact{
    display: flex;
    align-items: center;
    height:40px;
    color: #464646;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

span{
    margin-left: 16px;
}

.left-user-details{
    display: flex;
    width: 212px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.right-user-details{
    display: grid;
    width: 212px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

@media screen and (max-width: 1000px){
    span{
       font-size: .8rem;
    }
}


@media screen and (max-width: 750px){
    .right-container{
        gap: 0;
        width: 100%;
    }

    .photoholder{
        margin-right: 0;
        margin-bottom: 10px;
        width: 0;
        height: 0;
    }
    .main-container{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 690px){

}

