.table {
    display: grid;

    height: 100%;
    grid-template-rows: 60px auto;
    padding-bottom: 60px;  
    background-color: #EDF4FF;
    gap: 10px;
}

.table-header {
    color:  #464646;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-left: 20px;
    border-radius: 6px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: rgba(255, 255, 255, 0.60); /* Optional: set a background color */
}

.table-body{

    max-height: calc(100% - 1px);
    overflow-y: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.60);
}

.table-body.filter-active {
    height: calc(100% - 170px); /* Adjusted when filter is active */
  }


.user {
    padding-left: 20px; /* Add padding for better appearance */
     /* Add padding for better appearance */
    display: grid;
    grid-template-columns: 50% 50%; /* Fixed width first column, rest are 1fr */
    align-items: center;
    border-top: 1px solid var(--background);
    padding-top: 20px;
    padding-bottom: 20px;
}

.user:hover {
    background-color: var(--background);
}

.user-content {
    display: flex; 
    align-items: center;
    gap: 14px;
}

.profile-image-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-image-container img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  /* .no-bio-border {
    border: 3px solid var(--warning);
    }

    .bio-border {
        border: 3px solid var(--secondary);
    }

    .active-indicator {
        position: absolute;
        bottom: 10px; 
        right: 0px;
        width: 12px;
        height: 12px;
        background-color: green;
        border-radius: 50%;
        border: 2px solid white; 
        z-index: 1; 
    } */

  /* .inactive-indicator {
    position: absolute;
    bottom: 10px; 
    right: 0px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 3px solid white; 
    z-index: 1; 
  } */

.useremail{
    color: #2C5CA7;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.username{
    color: #464646;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.role-content{
    padding-left: 5px;
    color: #464646;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1300px){
    .table-body{
        overflow-y: auto;
        overflow-x: auto;
    }
}