<div class="security-content">
  <div class="upper">
    <div class="logins-today">
      <span>Logins Today</span>
      <div class="count">{{ LoginsToday }}</div>
    </div>
    <div class="not-on-site">
      <span>Not on site</span>
      <div class="count">{{ NotOnSite }}</div>
    </div>
    <div class="total">
      <span>Total Registered Users</span>
      <div class="count">{{ total }}</div>
    </div>
  </div>
  <div class="lower">
    <div class="activity" #activityContainer>
      <span>Activity Chart</span>

      <div class="activity-content">
        <ngx-charts-bar-vertical-2d
          [view]="[chartWidth, chartHeight]"
          [scheme]="colorScheme"
          [results]="multi"
          [showDataLabel]="showDataLabel"
          [gradient]="gradient"
          [barPadding]="barPadding"
          [groupPadding]="groupPadding"
          [wrapTicks]="wrapTicks"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [yScaleMax]="yScaleMax"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxisTickFormatting]="xAxisTickFormatting"
          [yAxisTickFormatting]="yAxisTickFormatting"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-bar-vertical-2d>
      </div>
    </div>
  </div>
</div>
