<!-- <div class="container">

    <div class="login-eingress-bckgrnd">
        <img  src="/assets/images/login-eingress-bckgrnd.png" alt="">
    </div>

    <div class="login-container">

        <div class="jairo-eingress">
            <img src="/assets/images/jairo-logo.png" alt="">
            <p>JAIROSOFT EINGRESS</p>
        </div>

        <div class="banner">
            <h2>Welcome Admin</h2>
            <p>Please enter your credentials to access your account</p>
        </div>

        <form [formGroup]="form" class="login-form">  

            <div class="login-input">
                <input formControlName="username" class="form-control" type="text" placeholder="Username" (focus)="clearText($event)" (blur)="resetPlaceholder($event)" required>
                <div class="password-container">
                    <input formControlName="password" class="form-control" [type]="showPassword ? 'text' : 'password'" placeholder="Password" (focus)="clearText($event)" (blur)="resetPlaceholder($event)">
                    <img [src]="showPassword ? '/assets/images/show-password.png' : '/assets/images/hide-password.png'" alt="Toggle Password Visibility" id="show-icon" (click)="togglePasswordVisibility('password')" required>
                </div>                
                <div class="remember-me">
                    <input type="checkbox" name="remember" id="remember"> 
                    <label for="remember" class="remember">Remember me</label>
                </div>    
            </div>   

            <button (click)="submitCredentials()">Login</button>

        </form>

    </div>    
</div> -->

<div class="relative h-screen w-full">
  <!-- Background Image -->
  <div class="absolute left-0 top-0 bottom-0 w-1/2 bg-[#EDF4FF]">
    <!-- Centering Container Inside White Background -->
    <div class="flex items-center justify-center h-full">
      <!-- Content -->
      <div [ngClass]="{'h-[572px]': !isForgotPassword && !isVerification, 'h-[766px]': isForgotPassword}" class="absolute top-[100px] bg-[#EDF4FF] rounded-lg w-[512px] transition-all duration-300">
        <!-- Logo -->
        <div class="flex items-center mb-[126px]">
          <img src="/assets/images/jairo-logo.png" class="h-9" alt="Jairo Logo">
          <p class="text-[#6E6E6E] text-xl ml-3 font-semibold leading-7 tracking-[20%]">J A I R O S O F T</p>
          <p class="text-[#6E6E6E] text-xl ml-3 font-semibold leading-7 tracking-[20%]">E I N G R E S S</p>
        </div>

        <!-- Banner -->
        <div class="mb-[79px] text-left">
          <h2 *ngIf="!isForgotPassword && !isVerification && !isResetPassword" class="text-[#464646] text-2xl mb-[12px] leading-9 font-semibold">Log in.</h2>
          <h2 *ngIf="isForgotPassword && !isVerification && !isResetPassword" class="text-[#464646] text-2xl mb-[12px] font-semibold">Forgot Password?</h2>
          <h2 *ngIf="isVerification && !isResetPassword" class="text-[#464646] text-2xl mb-[12px] font-semibold">Enter your verification code!</h2>
        <h2 *ngIf="isResetPassword" class="text-[#464646] text-2xl mb-[12px] font-semibold">Reset Password</h2>

          
          <!-- Conditionally display error message or instructions -->
          <p *ngIf="errorMessage" class="text-[#DB3956] rounded relative">
            <span class="font-normal">{{ errorMessage}}</span>
            <br>
            <span class="block mt-2">Please try again.</span>
          </p>
          <p *ngIf="!errorMessage && !isForgotPassword && !isVerification && !isResetPassword" class="text-[#6E6E6E] text-sm">Log in with your data that you entered during registration.</p>
          <p *ngIf="!errorMessage && isForgotPassword && !isVerification && !isResetPassword" class="text-[#6E6E6E] text-sm">Please enter your email to reset your password.</p>
          <p *ngIf="isVerification && !isResetPassword" class="text-[#6E6E6E] text-sm">We’ve sent the verification code to {{censoredEmail}}</p>
          <p *ngIf="isResetPassword" class="text-[#6E6E6E] text-sm">Enter your new password below, we’re just being extra safe.</p>
        </div>

        <!-- Form -->
        <form [formGroup]="form" class="space-y-8">
          <div class="space-y-6">
            <!-- Login email Field -->
            <div *ngIf="!isForgotPassword && !isResetPassword && !isVerification" class="relative flex items-center mb-[32px]" 
                  [ngStyle]="{
                    'border-bottom': errorMessage ? '1px solid #DB3956' : '1px solid #6E6E6E'
                    }">
              <input 
                formControlName="email" 
                id="email" 
                class="peer bg-[#EDF4FF] text-[#6E6E6E] h-[33px] w-full outline-none placeholder-transparent" 
                type="text" 
                placeholder="Email" 
                (focus)="clearText($event)" 
                (blur)="resetPlaceholder($event)" 
                required>
              <label 
                for="email" 
                class="absolute text-base top-1/2 transform -translate-y-1/2 text-[#6E6E6E] transition-all duration-300 peer-placeholder-shown:text-[#6E6E6E] peer-focus:-top-5 peer-focus:text-[#6E6E6E]"
                [class.-top-5]="form.controls['email'].value">
                Email
              </label>
              <img 
                src="/assets/images/Email-icon.svg" 
                class="absolute right-0 top-1/2 transform -translate-y-1/2" 
                alt="Email Icon">
            </div>

            <!-- Login password Field -->
            <div *ngIf="!isForgotPassword && !isResetPassword && !isVerification" class="relative flex items-center mb-[32px]" 
                  [ngStyle]="{
                    'border-bottom': errorMessage ? '1px solid #DB3956' : '1px solid #6E6E6E'}">
              <input 
                formControlName="password" 
                id="password" 
                class="peer bg-[#EDF4FF] text-[#6E6E6E] h-[33px] w-full outline-none placeholder-transparent" 
                [type]="showPassword ? 'text' : 'password'" 
                placeholder="Password" 
                (focus)="clearText($event)" 
                (blur)="resetPlaceholder($event)">
              <label 
                for="password" 
                class="absolute text-base top-1/2 transform -translate-y-1/2 text-[#6E6E6E] transition-all duration-300 peer-placeholder-shown:text-[#6E6E6E] peer-focus:text-[#6E6E6E] peer-focus:-top-5"
                [class.-top-5]="form.controls['password'].value">
                Password
              </label>
              <img 
                [src]="showPassword ? '/assets/images/unlock-icon.svg' : '/assets/images/Lock-icon.svg'" 
                class="absolute right-0 top-1/2 transform -translate-y-1/2 cursor-pointer" 
                alt="Toggle Password Visibility" 
                id="show-icon" 
                (click)="togglePasswordVisibility('showPassword')">
            </div>

            <!-- Email Field in forgot password -->
            <div *ngIf="isForgotPassword && !isVerification && !isResetPassword" class="relative flex items-center mb-[32px]" 
                  [ngStyle]="{
                    'border-bottom': errorMessage ? '1px solid #DB3956' : '1px solid #6E6E6E'
                    }">
              <input 
                formControlName="email" 
                id="email" 
                class="peer bg-[#EDF4FF] text-[#6E6E6E] h-[33px] w-full outline-none placeholder-transparent" 
                type="text" 
                placeholder="Email" 
                (focus)="clearText($event)" 
                (blur)="resetPlaceholder($event)" 
                required>
              <label 
                for="email" 
                class="absolute text-base top-1/2 transform -translate-y-1/2 text-[#6E6E6E] transition-all duration-300 peer-placeholder-shown:text-[#6E6E6E] peer-focus:-top-5 peer-focus:text-[#6E6E6E]"
                [class.-top-5]="form.controls['email'].value">
                Email
              </label>
              <img 
                src="/assets/images/Email-icon.svg" 
                class="absolute right-0 top-1/2 transform -translate-y-1/2" 
                alt="Email Icon">
            </div>

            <!-- Verification Code Fields -->
           <div *ngIf="isVerification && !isResetPassword" class="flex justify-between space-x-4">
            <!-- Verification Code Fields -->
            <input #code1 
                   formControlName="code1" 
                   maxlength="1" 
                   class="h-[70px] w-[70px] font-semibold bg-white text-center text-3xl text-[#13325E] border"
                   [ngClass]="{'outline outline-1 outline-[#DB3956]': verificationError}" 
                   type="text" 
                   (input)="moveFocus($event, code2, null)">
            <input #code2 
                   formControlName="code2" 
                   maxlength="1" 
                   class="h-[70px] w-[70px] font-semibold bg-white text-center text-3xl text-[#13325E] border"
                   [ngClass]="{'outline outline-1 outline-[#DB3956]': verificationError}" 
                   type="text" 
                   (input)="moveFocus($event, code3, code1)">
            <input #code3 
                   formControlName="code3" 
                   maxlength="1" 
                   class="h-[70px] w-[70px] font-semibold bg-white text-center text-3xl text-[#13325E] border"
                   [ngClass]="{'outline outline-1 outline-[#DB3956]': verificationError}" 
                   type="text" 
                   (input)="moveFocus($event, code4, code2)">
            <input #code4 
                   formControlName="code4" 
                   maxlength="1" 
                   class="h-[70px] w-[70px] font-semibold bg-white text-center text-3xl text-[#13325E] border"
                   [ngClass]="{'outline outline-1 outline-[#DB3956]': verificationError}" 
                   type="text" 
                   (input)="moveFocus($event, code5, code3)">
            <input #code5 
                   formControlName="code5" 
                   maxlength="1" 
                   class="h-[70px] w-[70px] font-semibold bg-white text-center text-3xl text-[#13325E] border"
                   [ngClass]="{'outline outline-1 outline-[#DB3956]': verificationError}" 
                   type="text" 
                   (input)="moveFocus($event, code6, code4)">
            <input #code6 
                   formControlName="code6" 
                   maxlength="1" 
                   class="h-[70px] w-[70px] font-semibold bg-white text-center text-3xl text-[#13325E] border"
                   [ngClass]="{'outline outline-1 outline-[#DB3956]': verificationError}" 
                   type="text" 
                   (input)="moveFocus($event, null, code5)">
          </div>        
        
            <!-- Remember Me and Forgot Password -->
            <div *ngIf="!isForgotPassword && !isVerification && !isResetPassword" class="flex items-center text-sm text-white space-x-2 mb-[31px] mt-[31px]">
              <input type="checkbox" name="remember" id="remember" class="mr-0"> 
              <label for="remember" class="cursor-pointer text-[#6E6E6E] font-normal text-xs select-none">Remember me</label>
              <label for="forgot" class="cursor-pointer text-[#1D32A3] font-normal text-xs absolute right-0 font-normal hover:text-[#6E6E6E]" (click)="toggleForgotPassword()">Forgot Password?</label>
            </div>
            
              <!-- Reset Password Fields -->
              <div *ngIf="isResetPassword" class="space-y-12">
                <div class="relative flex items-center mb-[32px]" 
                      [ngStyle]="{
                        'border-bottom': errorMessage ? '1px solid #DB3956' : '1px solid #6E6E6E'
                      }">
                  <input 
                    formControlName="newPassword" 
                    id="newPassword" 
                    class="peer bg-[#EDF4FF] text-[#6E6E6E] h-[33px] w-full outline-none placeholder-transparent" 
                    [type]="showNewPassword ? 'text' : 'password'" 
                    placeholder="New Password" 
                    (focus)="clearText($event)" 
                    (blur)="resetPlaceholder($event)" 
                    required>
                  <label 
                    for="newPassword" 
                    class="absolute text-base top-1/2 transform -translate-y-1/2 text-[#6E6E6E] transition-all duration-300 peer-placeholder-shown:text-[#6E6E6E] peer-focus:-top-5 peer-focus:text-[#6E6E6E]"
                    [class.-top-5]="form.controls['newPassword'].value">
                    New Password
                  </label>
                  <img 
                    [src]="showNewPassword ? '/assets/images/unlock-icon.svg' : '/assets/images/Lock-icon.svg'" 
                    class="absolute right-0 top-1/2 transform -translate-y-1/2 cursor-pointer" 
                    alt="Toggle Password Visibility" 
                    (click)="togglePasswordVisibility('newPassword')">
                </div>
              
                <div class="relative flex items-center mb-[32px]" 
                      [ngStyle]="{
                        'border-bottom': errorMessage ? '1px solid #DB3956' : '1px solid #6E6E6E'
                      }">
                  <input 
                    formControlName="confirmPassword" 
                    id="confirmPassword" 
                    class="peer bg-[#EDF4FF] text-[#6E6E6E] h-[33px] w-full outline-none placeholder-transparent" 
                    [type]="showConfirmPassword ? 'text' : 'password'" 
                    placeholder="Confirm Password" 
                    (focus)="clearText($event)" 
                    (blur)="resetPlaceholder($event)" 
                    required>
                  <label 
                    for="confirmPassword" 
                    class="absolute text-base top-1/2 transform -translate-y-1/2 text-[#6E6E6E] transition-all duration-300 peer-placeholder-shown:text-[#6E6E6E] peer-focus:-top-5 peer-focus:text-[#6E6E6E]"
                    [class.-top-5]="form.controls['confirmPassword'].value">
                    Confirm Password
                  </label>
                  <img 
                    [src]="showConfirmPassword ? '/assets/images/unlock-icon.svg' : '/assets/images/Lock-icon.svg'" 
                    class="absolute right-0 top-1/2 transform -translate-y-1/2 cursor-pointer" 
                    alt="Toggle Password Visibility" 
                    (click)="togglePasswordVisibility('confirmPassword')">
                </div>
              </div>
          
          <!-- Verification error, timer and send new code -->
          <div *ngIf="isVerification && !isResetPassword" class="relative flex justify-end items-center text-xs">
            <div *ngIf="verificationError; else timerTemplate" class="absolute left-0 text-[#DB3956] ">
              {{ verifyErrorMessage }}
            </div>
            <ng-template #timerTemplate>
              <div class="absolute left-0 text-[#6E6E6E] text-xs">
                Time Left: {{ getTimerDisplay() }}
              </div>
            </ng-template>
            <button (click)="sendNewCode()" class="text-[#6E6E6E] text-xs">
              Send new code
            </button>
          </div>
          
          </div>
          <!-- Button Function -->
          <button (click)="handleButtonClick()" 
                  [ngClass]="{'bg-[rgba(19,50,94,1)]': isButtonActive && !isLoading, 
                              'bg-[rgba(19,50,94,0.6)]': !isButtonActive || isLoading}" 
                  class="w-full h-[43px] text-white font-semibold flex items-center justify-center"
                  [disabled]="!isButtonActive || isLoading">
            <svg *ngIf="isLoading" class="animate-spin h-5 w-5 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-0" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-100" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
            </svg>
            <span class="font-normal text-base leading-6">
              {{ getButtonText() }}
            </span>
          </button>


        </form> 
        <!-- Back to Login Link -->
        <div *ngIf="isForgotPassword" class="flex justify-center absolute bottom-0 w-full">
          <a (click)="toggleBackToLogin()" class="absolute bottom-0 text-[#6E6E6E] text-base leading-6 font-normal text-center cursor-pointer">Back to login</a>
        </div>        
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <img src="/assets/images/BG_Login.svg" class="absolute right-0 top-0 bottom-0 object-cover w-1/2 h-full" alt="Background Image">

 <!-- Notification Popup -->
<div *ngIf="isNotificationPopup" class="fixed bottom-10 right-10 bg-white text-[#4f4f4f] w-[362px] h-[64px] font-normal text-sm p-4 rounded-lg flex items-center">
  <img src="/assets/images/success-icon.svg" alt="Success Icon">
  <span class="ml-2">Password Successfully Updated!</span>
  <button (click)="closeNotification()" class="bg-transparent border-none text-[#4f4f4f] text-lg ml-auto">&times;</button>
</div>


</div>