<div class="upper">
    <div class="total-registered">
        <span>Total Registered</span>
    </div>
    <div class="logins-today pointer" >
      <span>Logins Today</span>
      <!-- <div class="count">{{ LoginsToday }}</div> -->
    </div>
    <div class="not-on-site">
      <span>Not on site</span>
      <!-- <div class="count">{{ NotOnSite }}</div> -->
    </div>
    <div class="total pointer" >
      <span>Unregistered</span>
      <!-- <div class="count">{{ noBio }}</div> -->
    </div>
    <div class="unathorized-bio">
        <span>Unathorized Bio</span>
    </div>
  </div>
