
.pages {
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    justify-content: center;
    background-color: #EDF4FF;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    top: 80px;
    left: 48px;
    transition: left 0.2s ease, width 0.2s ease-out;
    z-index: -9;
  }
  
  
  .navbar:not(.locked):hover ~ .pages {
    width: calc(100% - 216px);
    left: 216px;
  }
  
 
  .navbar.locked ~ .pages {
    width: calc(100% - 216px); 
    left: 216px; 
    transition: none; 
  }
  

.inner-page{
  /* background-color: aquamarine; */
  /* display: flex;
  justify-content: center; */
  max-height: 100%;
  margin-top: 30px;
  width: calc(100vw - 285px);
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: auto; /* Allow scrolling */
  transition: left 0.2s ease, width 0.2s ease-out;
  background-color: #EDF4FF;
}


@media screen and (max-width: 1620px){
    .inner-page{
        width: 100vw;
    }
}

@media screen and (max-width:925px) {
    .inner-page{
      width: 925px;
    }
    }

@media screen and (max-width: 800px) {
    .inner-page{
        width: 800px;
    }
}

@media screen and (max-width: 500px) {
  .inner-page{
    border-radius: 5px;
  }
}