<div class="contents" [ngClass]="{'navbar-locked': isNavbarLocked}">
    <div class="header">
        <div class="inner-header">
            <app-header></app-header>
        </div>
    </div>
    <div class="navbar" [ngClass]="{'locked': isNavbarLocked}">
        <app-navbar (lockStateChange)="onLockStateChange($event)"></app-navbar>
    </div>
    <div class="pages mr-20">
        <div class="inner-page">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- CHANGE PASSWORD MODAL -->
    <app-admin-changepass-modal *ngIf = "changePass" ></app-admin-changepass-modal>

    <app-add-user-modal *ngIf = "showAddUserModal"></app-add-user-modal>

    <app-success-popup 
    *ngIf="isPopupVisible"
    [isVisible]="isPopupVisible"
    (close)="closePopup()">
    </app-success-popup>

    <app-error-popup
    *ngIf="isErrorPopupVisible"
    [isVisible]="isErrorPopupVisible"
    (close)="closePopup()">
    </app-error-popup>

    <app-admin-discard-popup
    *ngIf="isDiscardPopupVisible"
    [isVisible]="isDiscardPopupVisible"
    (close)="closePopup()"
    ></app-admin-discard-popup>
    
    <app-employee-details-revamp *ngIf = "showUpdateModal"></app-employee-details-revamp>

</div>