<div class="notification-bell">
    <img [src]="hasNewAlerts ? '/assets/images/new-alerts-icon.svg' : '/assets/images/notification-bell-icon.svg'" alt="Notification Bell" (click)="toggleNotificationDropdown()">
    <!-- Notification Dropdown -->
    <div class="notification-dropdown" [ngClass]="{ 'show': isNotificationOpen }">
        <div class="dropdown-header">
            <h4>Notifications</h4>
            <button class="close-button" (click)="isNotificationOpen = false">
                <img src="/assets/images/close-button.svg" alt="close">
            </button>
        </div>
        <div class="dropdown-body" [ngStyle]="{ height: isPreviousNotificationsView ? '750px' : '392px' }">
            <div *ngIf="recentAlerts.length === 0">
                <p class="no-data">No data</p>
            </div>
            <div *ngIf="recentAlerts.length > 0">
                <div *ngFor="let alert of recentAlerts" class="alert-item">
                    <img *ngIf="alert.message.includes('Unregister')" src="/assets/images/unregister-notification.svg" alt="Unregister Icon" class="alert-icon">
                    <img *ngIf="alert.message.includes('Unauthorized Bio')" src="/assets/images/Unauthorized-notif.svg" alt="Unauthorized Bio Icon" class="alert-icon">
                    
                    <div class="alert-message">
                      <p [ngClass]="{'unregistered': alert.message.includes('Unregister'), 'unauthorized': alert.message.includes('Unauthorized Bio'), 'success': alert.message.includes('entered') }">
                        {{ alert.message }}
                      </p>
                      <p *ngIf="alert.message.includes('Unregister')" class="alert-description">Someone is trying to enter.</p>
                      <p *ngIf="alert.message.includes('Unauthorized Bio')" class="alert-description">Someone is trying to attempt.</p>
                    </div>
                    
                    <span class="notification-time">{{ formatTimeAgo(alert.timestamp) }}</span>
                  </div>                                    
            </div>
        </div>            
        <div class="dropdown-footer" *ngIf="!isPreviousNotificationsView">
            <button (click)="viewPreviousNotifications()">See previous notifications</button>
        </div>
    </div>
</div>
