.notification-bell {
    position: relative; /* This allows positioning the dropdown relative to the bell */
    cursor: pointer;
  }
  
  .notification-dropdown {
    display: none;
    position: absolute;
    top: 45px; /* Position below the bell icon */
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 325px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .notification-dropdown.show {
    display: block;
  }
  
  .dropdown-header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f9ff;
    padding: 20px;
  }
  
  .dropdown-header h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #464646;
  }
  
  .dropdown-body {
    height: 392px;
    overflow-y: auto;
    padding: 10px;
    overflow-y: auto;
  }
  
  .dropdown-footer {
    background-color: #f5f9ff;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-footer button {
    border: none;
    color: #464646;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
  }
  
  .dropdown-footer button:hover {
    color: #0056b3;
  }