<div class="notification-bell">
    <img src="/assets/images/notification-bell-icon.svg" alt="Notification Bell" (click)="toggleNotificationDropdown()">
    <!-- Notification Dropdown -->
    <div class="notification-dropdown" [ngClass]="{ 'show': isNotificationOpen }">
        <div class="dropdown-header">
            <h4>Notifications</h4>
        </div>
        <div class="dropdown-body">
            <!-- Notification data will be placed here -->
        </div>
        <div class="dropdown-footer">
            <button (click)="viewPreviousNotifications()">See previous notifications</button>
        </div>
    </div>
</div>