input[type="checkbox"] {
    padding-top: 10px;
    width: 15px;
    height: 15px;
}

.table {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    /* Assuming one column */
    grid-template-rows: 60px auto;
    /* Fixed height for header, rest fills remaining space */
}

.table-header {
    display: flex;
    position: sticky;
    display: grid;
    grid-template-columns: 20px 34px 1fr 400px repeat(3, 1fr) 36px;
    /* Fixed width first column, rest are 1fr */
    align-items: center;
    padding: 10px, 16px, 10px, 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 44px;
    background-color: #FFFFFF99;
    border-radius: 6px;
}

.table-body {
    overflow-y: hidden;
    border: 16px solid #FFFFFF99;
    border-radius: 5px;
    min-height: 100%;
}

.user-header,
.role-header,
.registered-date-header,
.last-login-header,
.status-header {
    color: #464646;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
}

.user-header {
    grid-column: 2 / 4;
}

.role-header {
    grid-column: 4 / 5;
}

.status-header {
    cursor: pointer;
    grid-column: 5 / 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
}

.registered-date-header {
    grid-column: 6 / 7;
}

.last-login-header {
    grid-column: 7 / 8;
}

.pagination {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.page-btn {
    width: 21px;
    height: 21px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
}

.page-btn:hover {
    background-color: #0B203F;
    color: white;
}

.page-btn:active {
    background-color: #0B203F;
    color: white;
}

.prev-btn,
.next-btn {
    width: 21px;
    height: 21px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #0B203F;
    color: white;
}

.status-selection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 110px;
    height: 56px;
    top: 40px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background-color: #FFFFFF;
}

span {
    padding: 6px 10px 4px 10px;
    color: #464646;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}