<div class="table">
    <div class="table-header"   [ngStyle]="{
        'grid-template-columns': deleteMode ? '20px 70px 1fr 400px repeat(3, 1fr) 36px' : '20px 34px 1fr 400px repeat(3, 1fr) 36px'
      }">
        <div class="checkbox-content"></div>
        <div class="user-header">Employee Name</div>
        <div class="role-header">Role</div>
        <div class="status-header">Status <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 4.25L0.25 0.5H7.75L4 4.25Z" fill="#464646"/>
            </svg>
            </div>
        <div class="registered-date-header">Registered date</div>
        <div class="last-login-header">Last login</div>
    </div>

    <app-user-selection (employeeSelected)="onEmployeeSelected($event)" class="user-selection"></app-user-selection>
    <app-employee-details></app-employee-details>
    <!-- <div class="pagination">
        <div class="prev-btn pointer">&lt;</div>
        <div class="page-btn pointer active">1</div>
        <div class="page-btn pointer">2</div>
        <div class="page-btn pointer">3</div>
        <div class="page-btn pointer">4</div>
        <div class="page-btn pointer">5</div>
        <div class="page-btn pointer">6</div>
        <div class="page-btn pointer">7</div>
        <div class="page-btn pointer">8</div>
        <div class="page-btn pointer">9</div>
        <div class="page-btn pointer">10</div>
        <div class="next-btn pointer">&gt;</div>
    </div> -->
</div>  