.delete{
    width: 33px;
    height: 33px;
    border-radius: 3px; /* Updated border-radius */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    cursor: pointer;
    padding: 6px, 11px, 6px, 11px;
    border: 1px solid #E15858;
}