<div class="contents">
    <div class="overview-label">
        <p>Overview</p>
        <span>View of all Employees Summary Result, Recent Login and Previous Attendance.</span>
    </div>

    <div class="recent-login">
        <app-recent-login></app-recent-login>
    </div>

    <div class="security-summary">
        <app-security-summary (loadingChange)="onLoadingChange($event)"></app-security-summary>
    </div>

    <div class="recent-alerts">
        <span>Previous Login</span>
        <app-recent-alerts></app-recent-alerts>
    </div>
    
</div>

<div [ngClass]="{'fade-out': !loading}" class="loading-overlay">
    <div class="jairo-container">
        <div class="jairoLoading">Jairosoft EINGRESS</div>
        <div class="spinner"></div>
    </div>
</div>
