.main-container {
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    padding-right: 20px; /* Add padding for the scrollbar */
    box-sizing: border-box; /* Ensure padding doesn't increase container size */
  }

  .table-title {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    grid-template-columns: 33% 33% 33%;
    /* Fixed width first column, rest are 1fr */
    color: #464646;
    font-size: 16px;
    font-weight: 500;
    margin-right: 23px;
}
  
  .alerts-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    max-height: 100px;
    width: auto;
    overflow-y: auto;
    font: 16px;
    font-weight: 400;
    color: #464646;
  }

  .default-holder {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 450px;           /* Adjust the height if necessary */
    font-size: 16px;         /* Make the "No data" text slightly larger */
    font-weight: 400;
    color: #464646;
    width: 100%;             /* Make sure it takes the full width */
    text-align: center;
  }
  
  .name-holder, .date-holder, .time-holder {
    flex: 1;
  }