<div class="table-body">
<div *ngIf="paginatedEmployees && paginatedEmployees.length > 0; else noMatch">
  <div *ngFor="let employee of paginatedEmployees" class="user pointer">
    <div class="profile-image-container">
      <img [src]="baseUrl + '/profile-image/' + employee.profileImage" alt="Profile Image">
    </div>
    <div class="employee-info-container" (click)="selectedEmployee(employee)">
      <div class="employee-fullname">{{ employee.fullname }}</div>
      <div class="role-content">{{ employee.role }}</div>
      <div class="registered-date-content">{{ employee.regdate }}</div>
      <div class="last-login-content">{{ employee.lastlogdate }}</div>
    </div>
  </div>
</div>
</div>
<ng-template #noMatch>
  <div class="no-match-container">
    <div class="no-match-icon">🔍</div>
    <div class="no-match-message">No matching results found</div>
  </div>
</ng-template>

<!-- Pagination Controls -->
<div class="pagination" *ngIf="totalPages > 1">
  <div class="prev-btn pointer" (click)="prevPage()" [class.disabled]="currentPage === 1">&lt;</div>

  <div *ngFor="let page of totalPagesArray" 
       class="page-btn pointer" 
       [class.active]="page === currentPage" 
       (click)="goToPage(page)">
    {{ page }}
  </div>

  <div class="next-btn pointer" (click)="nextPage()" [class.disabled]="currentPage === totalPages">&gt;</div>
</div>
